html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ecf0f1;
  padding-bottom: 2rem;
}

.load-more-btn {
  display: block;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  background-color: #3498db;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 10rem;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 0 auto;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(0.95);
  }

  &--hidden {
    display: none;
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;

  i {
    font-size: 4rem;
    color: #3498db;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
